@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

body{
  font-family: 'Chicle';
}

h1{
  margin-left: 15px;
  font-size: 3rem;
  letter-spacing: 3px;
  margin-bottom: 0;
  text-decoration: underline;
}

h2{
  margin-top: 0;
}

#app-wrapper > *{
  padding: 10px
}

#controls{
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 400px
}

#controls > input {
  width: 100%;
}

#dog-img{
  width: 500px
}